@import '../sass.scss';
@import '../base/classes.scss';

.devs-list-component {
  top: 110px;

  .dev-list {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .dev-card-wrapper {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $tablet) {
    padding-top: 50px;
    width: calc(80vw - 100px);
    margin-left: 20vw;
    padding-left: 50px;
    padding-right: 50px;

    .dev-list {
      padding-top: 95px;
      padding-left: 0;
      padding-right: 0;
      justify-content: space-between;
    }

    .dev-card-wrapper {
      width: 45%;
    }
  }
  
  @media (min-width: $desktop) {
    width: calc(80vw - 200px);
    padding-left: 10px;
    padding-right: 10px;
    
    .dev-list {
      padding-top: 150px;
    }
    
    .dev-card-wrapper {
      width: 300px;
    }
  }
}
