@import '../sass.scss';

.devs-list-component {
  position: absolute;
  top: 110px;

  @media (min-width: $tablet) {

  }
  
  @media (min-width: $desktop) {
    width: calc(80vw - 200px);
    margin-left: 20vw;
    padding-left: 100px;
    padding-right: 100px;
  }
}
