@import '../sass.scss';
@import '../base/classes.scss';

.search-component {
  display: flex;

  label {
    @extend .hidden;
  }

  input {
    background-color: transparent;
    border: 0;
    width: calc(100% - 245px);
    margin-right: 20px;

    &::placeholder {
      @include rem(font-size, 36px);
      font-weight: bold;
      color: $light-grey-2;
    }
  }

  button {
    &.button {
      margin: 0;
    }
  }

  @media (min-width: $tablet) {

  }
  
  @media (min-width: $desktop) {

  }
}
