@import '../sass.scss';
@import './colors.scss';
@import './layout.scss';
@import './landmarks.scss';
@import './classes.scss';
@import './form-elements.scss';
@import './headings.scss';

html {
  scroll-behavior: smooth;
}

body {
  @extend %font-roboto;
  background-color: $light-grey;
  margin: 0;
  overflow-x: hidden;
}

ul, 
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
  outline: none; // active state fills this accessibility requirement

  &:active, 
  &:hover,
  &:focus {
    color: $light-coral;
    padding-bottom: 5px;
    border-bottom: solid 1px $light-coral;
  }
}

p {
  @include rem(font-size, 14px);
  font-weight: normal;
}

img {
  max-width: 100%;
}

@media (min-width: $tablet) {

}

@media (min-width: $desktop) {
  p {
    @include rem(font-size, 20px);
    font-weight: normal;
  }
}
