@import '../sass.scss';

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.background-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.standard-margins {
  margin: 40px;
}

.standard-padding {
  padding: 40px;
}

.link-button, 
.button {
  color: $dark-coral;
  border: 2px solid $dark-coral;
  background-color: $translucent-coral;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 55px;
  width: 225px;

  &:active,
  &:hover,
  &:focus {
    padding: 0;
  }
}

@media (min-width: $tablet) {

}

@media (min-width: $desktop) {
  .standard-margins {
    margin-left: calc((100vw - 1140px) / 2);
    margin-right: calc((100vw - 1140px) / 2);
  }

  .standard-padding {
    padding-left: calc((100vw - 1140px) / 2);
    padding-right: calc((100vw - 1140px) / 2);
  }
}
