@import '../sass.scss';
@import '../base/classes.scss';

header,
main,
footer {
  outline: none;
}

header {
  height: 70px;
}

section {
  @extend .standard-padding;
}

@media (min-width: $tablet) {
  header {
    height: 80px;
  }
}

@media (min-width: $desktop) {

}
