@import '../sass.scss';

.tablet,
.tablet-up,
.desktop {
  display: none;
}

@media (min-width: $tablet) {
  .tablet {
    display: block;
  }

  .tablet-up {
    display: block;
  }

  .mobile {
    display: none !important;
  }
}

@media (min-width: $desktop) {
  .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }
}
